{% extends 'users/layout.html' %}

{% block navbar %}
{% include 'users/navbar.html' %}
{% endblock navbar %}

{% block body %}
    <h1>Attendance System</h1>
    <p>Attendance System is a web application that allows you to manage your attendance. You can add, edit, delete and view your attendance. You can also view your attendance history.</p>
    
    {% if user.is_authenticated %}
    Loggein as {{ user.username }}
    {% else %}
    <a href="{% url 'register' %}"> Register </a> <br>
    <a href="{% url 'login' %}"> Login </a>
    {% endif %}
    

{% endblock body %}