{% extends 'users/layout.html' %}



{% block body %}
<h1> Create Student </h1>

<form action="{% url 'add_student' %}" method="post">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Name"> <br> <br>
    <input type="text" name="email" placeholder="Email"> <br> <br>
    <input type="text" name="rollno" placeholder="Roll No"> <br> <br>
    <input type="text" name="dept" placeholder="Dept"> <br> <br>
    <input type="date" name="dob" placeholder="Date"> <br> <br>
    <input type="text" name="enrolled_year" placeholder="Enrolled Year"> <br> <br>
    

    <input type="submit" value="Add Student">
{% endblock body%}
